body{
    background-image: url(Fondo.jpg);
    background-size: cover;
}

H1{
    padding: 2%;
    color: rgb(39, 179, 74);
    font-size: 100px;
}

H2{
    padding: 2%;
    color: rgb(255, 255, 255);
    font-size: 100px;
}